@use "../utilitaires/mixins";
@use "../utilitaires/variables";
@use "../base/typo";

//Titre principal H1
.titre__h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

//Sous-titre H2
.h2__etape {
    text-align: center;
    font-size: 20px;
}


/**
* Barre de navigation, étapes de 1 à 5
* Chaque bouton doit être un cercle avec le numéro de l'étape au centre
* Le bouton de l'étape active doit être de la couleur principale (variables.$rose)
* Les boutons des étapes inactives doivent être d'une couleur plus foncée (variables.$roseFonce)
* Les boutons doivent avoir un effet au survol (hover) pour indiquer qu'ils sont cliquables
* Impossible de cliquer sur les étapes futures
*/
.navigation {
    margin: 2em auto;

    &__ol {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__li {
        list-style: none;
        padding: 0 1em;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__item:hover {
        background-color: #b81b61;
    }

    &__item--active {
        background-color: variables.$rose;
    }

    &__item--inactive {
        background-color: variables.$roseFonce;
        cursor: not-allowed;
    }

    &__hors-ecran {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip-path: inset(50%);
        white-space: nowrap;
        border-width: 0;
    }
}


/**
* Groupe de champs (fieldset)
* Les fieldsets doivent être centrés et avoir une largeur maximale de 500px
* Les fieldsets doivent avoir un fond légèrement coloré (variables.$rose avec une opacité de 0.1)
* Les légendes (legend) des fieldsets doivent être centrées et en gras
* Les boutons radio et cases à cocher doivent être stylisés pour correspondre au thème général
*/
.fieldset {
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    border-radius: 10px;

    &__legend {
        text-align: center;
        font-size: 36px;
    }

    &__frequence {
        text-align: center;
        margin: 1em 0;
        font-size: 20px;
    }

    // DUREE 
    /**
    * Bouton radio pour la durée du don (unique ou mensuelle)
    * Les boutons doivent être stylisés pour correspondre au design général
    * Les boutons doivent avoir un effet au survol (hover) pour indiquer qu'ils sont cliquables
    * Le bouton sélectionné doit être visuellement distinct (plus gros et couleur différente)
    */
    &__duree {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: center;
    }

    &__duree--div {
        width: 100%;
        max-width: 250px;
    }

    &__duree--div1 label,
    &__duree--div2 label {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        width: 100%;
        box-sizing: border-box;
        background: variables.$rose;
        color: white;
        font-size: 1em;
        transition: background-color 0.3s ease;
        text-align: center;
        border: black solid 1px;
        border-radius: 10px;
    }

    &__duree--div1 input,
    &__duree--div2 input {
        display: none;
    }

    &__duree--div1 label:hover,
    &__duree--div2 label:hover {
        background-color: variables.$roseFonce;
    }

    &__duree--div1 input:checked+label,
    &__duree--div2 input:checked+label {
        background-color: variables.$roseFonce;
        transform: scale(1.1);
    }

    // MONTANTS
    /**
    * Bouton radio pour le prix du don
    * Les boutons doivent être stylisés pour correspondre au design général
    * Les boutons doivent avoir un effet au survol (changer de couleur) pour indiquer qu'ils sont cliquables
    * Le bouton sélectionné doit être visuellement distinct (plus gros et couleur différente)
    */
    &__montant {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        margin: 1em 0;
    }

    &__montant label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        width: 30%;
        max-width: 250px;
        box-sizing: border-box;
        background: variables.$rose;
        color: white;
        font-size: 1em;
        transition: background-color 0.3s ease;
        text-align: center;
        border: black solid 1px;
        border-radius: 10px;
    }

    &__montant label:hover {
        background-color: variables.$roseFonce;
    }

    &__montant input {
        display: none;
    }

    &__montant input:checked+label {
        background-color: variables.$roseFonce;
        transform: scale(1.1);
    }
}

// Trait pour séparer les sections (fréquence de don et montant)
.trait {
    border: black 0.5px solid;
    width: 80px;
    margin: 20px auto;
}

// ÉTAPES 2, 3, 4, 5 - CHAMPS
/**
    * Champs de formulaire (input et select des étapes 2 à 5)
*/
.champ {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    width: 50%;
    margin: 0 auto;

    &__label {
        font-size: 20px;
        margin-bottom: .3em;
        text-align: left;
    }

    &__input {
        border: 3px solid variables.$rose;
        border-radius: 10px;
        padding: 10px 3px;
        width: 100%;
    }

    &__input::placeholder {
        font-size: 16px;
    }
}

/**
    * Mixin pour inclure les styles d'erreur et de boutons de navigation (précédent et suivant)
*/
@include mixins.erreur;
@include mixins.boutons-nav;


// Styles pour les écrans de 600px et plus (pc)
@media (min-width: 600px) {
    .titre__h1 {
        font-size: 3em;
    }

    .h2__etape {
        font-size: 24px;
    }

    .navigation__item {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .fieldset {
        width: 500px;
        border-radius: 20px;

        &__legend {
            font-size: 36px;
        }

        &__duree {
            flex-direction: row;
            justify-content: center;
            gap: 0;
        }

        &__duree--div1 label {
            border-radius: 10px 0 0 10px;
        }

        &__duree--div2 label {
            border-radius: 0 10px 10px 0;
        }

        &__montant {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            justify-items: center;
        }

        &__montant label {
            width: 50%;
            padding: 10px 0;
            
        }
    }
}