*{
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(to bottom, #a3a3a3, #ffffff);
}
    .header__img{
        display: flex;
        margin: 0 auto;
        padding: 20px 0;
    }
