@use "sass:color";
@use "../utilitaires/variables";

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

.bouton {
  display: flex;
     justify-content: center;
     gap: 5em;
    &__suivant,
    &__precedent,
    &__don{  
        cursor: pointer;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: variables.$rose;
        color: white;
        text-align: center;
        font-family: 'Carlito';
        font-size: 20px;
        border-radius: 10px;
        border: black 1px solid;
        transition: background-color .3s ease;
    }
    

    
    &__suivant:hover,
    &__precedent:hover{
        background-color: variables.$roseFonce;
    }
}